/* ======================================================== */


/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ======================================================== */

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #0a1319;
    text-shadow: 3px 7px 16px #00ffae67;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style: none;
    padding: 10px 15px;
}

main {
    font-size: 6rem;
}